!!!
%html
  %head
    %title 今日の漢字
  %body
    %div(class="wrapper" style="text-align: center; font-family: serif")
      %h1 今日の漢字
      %p(style="font-size: 1000%; text-shadow: #000 2px 2px 5px")= @todays_kanji
